
@font-face {
  font-family: 'SpotkaRegular';
  src: url('SpotkaRegular.eot?#iefix') format('embedded-opentype'),  url('SpotkaRegular.woff') format('woff'), url('SpotkaRegular.ttf')  format('truetype'), url('SpotkaRegular.svg#SpotkaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
