
@font-face {
  font-family: 'SpotkaBlack';
  src: url('SpotkaBlack.eot?#iefix') format('embedded-opentype'),  url('SpotkaBlack.woff') format('woff'), url('SpotkaBlack.ttf')  format('truetype'), url('SpotkaBlack.svg#SpotkaBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
