.footer-fluid{
    background: white;
    margin-top: 80px;
    .footer {
        margin-top: 0;
        padding-top: 35px;
        padding-bottom: 36px;
        border-top: none;
    }

    #block-partner-footer-block{
        .field--items{
            display: flex;
            justify-content: flex-end;
            align-items : center;
            margin-top: 0;
            flex-wrap: wrap;
        }
        .field--item{
            flex-grow: 2;
            max-width: 110px;
            margin-right: 20px;
            height: auto;
            margin-bottom: 20px;
        }
    }

    #block-socialmedialinks-footer{
        text-align: center;
        a{
            color: #333;
            margin-left: 10px;
            &:hover{
                color: $brand-primary;
            }
        }
        .fa-3x{
            font-size: 24px;
        }
    }

    .nav > li > a{
        font-weight: 600;
        font-size: 13px;
        color: #333;
        &:hover{
            background: none;
            color: $brand-primary;
        }
    }

}