body{
    font-weight:500;
}

a.logo{
    background: url(../images/logo_colloque_amp_2019.svg) no-repeat;
    content: '';
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    img{
        visibility: hidden;
    }
}

a{
    transition : all .25s ease-in-out;
    -moz-transition : all .25s ease-in-out;
    -webkit-transition : all .25s ease-in-out;
}
a:hover{
    text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
    outline:none
} 
a:focus {
    outline:0 !important
}

header{
    background: white;
    .region-header{
        .navbar-brand {
            position: absolute;
            text-indent: -9999px;
        }

        #block-partner-top-block{
            float: left;
            width: 65%;
            text-align: right;
            .field--item{
                display: inline-block;
                .img-responsive {
                    display: block;
                    max-width: 72%;
                    height: auto;
                }
            }
        }
        
        #block-socialmedialinks-header{
            float: right;
            a{
                color: #333;
                &:hover{
                    color: $brand-primary;
                }
            }
            .fa-2x{
                font-size: 18px;
            }
        }
    }
}

.block-superfish{
    background: $brand-primary;
    width: 75%;
    position: absolute;
    bottom: -25px;
    right: 0;
    height: 70px;
    span.nolink,
    li a{
        color:#fff;
        font-size: 14px;
        font-weight: 600;
    }
}

#block-savethedate{
    margin-top: -20px;
    position: relative;
    z-index: -10;
    .field--name-field-info-text{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
        color: white;
        font-family: 'Spotka';
        font-style:800;
    }
}

.precontent{
    margin-left:65px;
    .region-precontent{
        background: $brand-secondary;
        a{
            color: white;
        }
    }
}