
.region-header{

    #block-partner-top-block{
        float: left;
    }
    
    #block-socialmedialinks-header{
        float: right;
    }
    
    .block-superfish{
        clear:left;
        float: right;
    }

}

